
{
    "root": true,
    "extends": ["airbnb", "prettier"],
    "env": {
      "es6": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"]
    }
  }